<% provide(:title , 'Contact Us') %>

<h1>Contact Us</h1>
<p>
Contact me at <a href="mailto: mike@mikewchan.com?Subject=Rails%20Tutorial">mike@mikewchan.com</a> to find out more about my work with the 
<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
and <a href="http://rubyonrails.org/">Ruby on Rails</a>. 
</p>
